html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.body-area {
  background: #f7f7f7;
  height: 100vh;
  padding: 40px;
}

.page-heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #0000003d;
}

.page-heading-1 {
  text-align: center;
  font-size: 44px;
  font-weight: 300;
  color: #be5a89;
  border-bottom: 1px solid;
  display: inline-block;
}

.main-heading {
  text-align: center;
  margin-bottom: 5px;
}